@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #371585;
}

.cabeca {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #212121;
    text-transform: uppercase;
}

.button-icon,
.menu-icon {
    display: none;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 60px;
}


a {
    font-family: 'Sarala', sans-serif;
    color: azure;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}

a:hover {
    color: rgb(168, 168, 168);
}

.logo1 {
    display: block;
    margin: auto;
    border-bottom: 5px;
    width: 15%;
    height: 50%;
    margin: none;
    padding: 5px;
    animation: go-back 1s alternate;
}

.corpo {
    border-top: 0.4px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 4vw;
}

.s1 {
    margin: auto;
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
}

.Logo-Bot {

    margin: auto;
    display: block;
    border-radius: 50%;
    width: 350px;
    animation: go-back 2.3s alternate;
}

.sobre {
    padding-top: 50px;
}

@keyframes go-back {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.ctp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    animation: to-back 2.3s alternate;
}

@keyframes to-back {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.titulo1 {
    font-family: 'Sarala', sans-serif;
    color: white;
    font-size: 64px;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white
}

.link-b,
.botao {
    background-color: rgb(245, 235, 242);
    width: 180px;
    height: 60px;
    border-radius: 40px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
}

.link-b,
.botao:hover {
    background-color: rgb(167, 164, 166);
}


.s2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 50px;
}

h3 {
    border-top: 0.4px solid rgba(255, 251, 251, 0.5);
    padding-top: 48px;
    color: aliceblue;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Sarala', sans-serif;
    margin-bottom: 16px;
}

p {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Sarala', sans-serif;
    color: aliceblue;
}

.Pe {
    background-color: #212121;
    padding: 1.5vw;
    border-top: 0.4px solid rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #212121;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #212121;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(255 255 255 / 10%);
}

@media (max-width: 900px) {
    .logo1 {
        width: 25vw;
        display: block;
        align-items: center;
    }
}

.corpo {
    text-align: center;
}

@media (max-width: 500px) {

    .cabeca {
        flex-direction: column;
        gap: 3vw;
    }

    .menu {
        display: none;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 5vw;
    }

    .button-icon,
    .menu-icon {
        display: flex;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-left: 42.5vw;
    }

    .corpo {
        text-align: center;
        padding-bottom: 5vw;
    }

    .open {
        display: flex;
    }

    .logo1 {
        width: 40vw;
        display: block;
        align-items: center;
    }

    .Logo-Bot {
        width: 60vw;
    }

    .Pe {
        padding: 4vw;
        display: flex;
    }

    body::-webkit-scrollbar {
        width: 2px;
        height: 10px;
        background-color: #212121;
    }

    body::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #212121;
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgb(255 255 255 / 10%);
    }
}