@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #371585;
    background-attachment: fixed;
}

.cabeca {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #212121;
    text-transform: uppercase;
}

.button-icon,
.menu-icon {
    display: none;
}

.menu {
    display: flex;
    padding: 10px;
    gap: 60px
}

.ctp-m {
    font-family: 'Sarala', sans-serif;
    color: azure;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}

.ctp-m:hover {
    color: rgb(168, 168, 168);
}

.corpo {
    border-top: 0.4px solid black;
    margin-bottom: 48px;
    padding-bottom: 70px;
    padding-top: 40px;
}

.s1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.titulo {
    color: aliceblue;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Righteous', sans-serif;
    margin-bottom: 16px;
    padding-bottom: 15px;
}

p {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Sarala', sans-serif;
    color: aliceblue;
    text-align: center;
    padding-bottom: 2vw;
}

a img {
    width: 300px;
    animation: anim-2 2.5s alternate;
}

@keyframes anim-2 {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.div-s1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: anim-1 2.5s alternate;
}

@keyframes anim-1 {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.widget-discord {
    margin-top: 50px;
    border: none;
}

.botao-comunidade {
    background-color: rgb(245, 235, 242);
    width: 340px;
    height: 46px;
    border-radius: 18px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.botao-comunidade:hover {
    background-color: rgb(167, 164, 166);
}

.Pe {
    background-color: #212121;
    margin-top: 12.9vh;
    border-top: 0.4px solid rgba(0, 0, 0, 0.5);
    display: block;
    align-items: center;
    justify-content: center;
}

.Pe p {
    padding-top: 3vh;
    padding-bottom: 3vh;
}

footer a {
    color: white;
}

footer a:hover {
    color: rgb(168, 168, 168);
}

body::-webkit-scrollbar {
    width: 2px;
    height: 10px;
    background-color: #212121;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #212121;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(255 255 255 / 10%);
}

@media (max-width: 900px) {
    .menu {
        text-align: center;
    }

    .s1 {
        text-align: center;
        flex-direction: column;
        padding-bottom: 2vw;
    }

    .Pe {
        padding-bottom: 2vw;
        padding-top: 2vw;
    }
}

@media (max-width: 500px) {

    .cabeca {
        flex-direction: column;
        gap: 3vw;
    }

    .menu {
        display: none;
        flex-direction: column;
        justify-content: center;
        gap: 5vw;
    }

    .div-s1 {
        width: 80vw;
    }

    .button-icon,
    .menu-icon {
        display: flex;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-left: 42.5vw;
    }

    .corpo {
        text-align: center;
    }

    .open {
        display: flex;
    }

    .Pe {
        padding: 4vw;
    }

    body::-webkit-scrollbar {
        width: 2px;
        height: 10px;
        background-color: #212121;
    }

    body::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #212121;
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgb(255 255 255 / 10%);
    }

}